<a href="https://colab.research.google.com/github/kushagrathisside/Tensorflow-Files/blob/main/tensorflow_with_regression_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/Train.csv')

In [ ]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [ ]:
df.shape

(29451, 12)

In [ ]:
df=df.drop('ADDRESS',axis=1)

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['POSTED_BY'])
df['POSTED_BY']=le.transform(df['POSTED_BY'])

In [ ]:
le2 = preprocessing.LabelEncoder()
le2.fit(df['BHK_OR_RK'])
df['BHK_OR_RK']=le2.transform(df['BHK_OR_RK'])

In [ ]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,2,0,0,2,0,1300.236407,1,1,12.969910,77.597960,55.0
1,1,0,0,2,0,1275.000000,1,1,12.274538,76.644605,51.0
2,2,0,0,2,0,933.159722,1,1,12.778033,77.632191,43.0
3,2,0,1,2,0,929.921143,1,1,28.642300,77.344500,62.5
4,1,1,0,2,0,999.009247,0,1,22.592200,88.484911,60.5

In [ ]:
import keras
model = keras.Sequential([keras.layers.Dense(units=10, input_shape=[1], activation='linear')])
model.compile(optimizer='sgd', loss="mean_squared_error")

In [ ]:
df.columns

Index(['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE',
       'TARGET(PRICE_IN_LACS)'],
      dtype='object')

In [ ]:
x=df[df['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.', 'BHK_OR_RK',
       'SQUARE_FT', 'READY_TO_MOVE', 'RESALE', 'LONGITUDE', 'LATITUDE']]
y = df['TARGET(PRICE_IN_LACS)']
model.fit(x,y,epochs=800)

SyntaxError: ignored

In [ ]:
print(model.predict([25.0]))

Operation 1:

In [ ]:
df=df[df.units_sold_per_annum>=1000]
print(df.head())

Operation 2:

In [ ]:
df[df['price'].apply(lambda x: str(x).isdigit())]

Uncertain about this(verified by gfg still), shayd kuch needed ho but can't check right now:

In [ ]:
df['commission']=[df['price']*df['units_sold_per_annum']*df['dealer_commission']]

In [ ]:
df.groupby('car_company').max('units_sold_per_annum') #doubt in this still it most probably will work,
#SQL concepts at work